
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.inter{
    font-family: Inter;
}
.grad{                                    /*.....NAV.......*/
    /* background-color: rgb(235, 115, 115);      .....COLOR CHANGE....... */
    background-image: linear-gradient(to right, rgb(243, 243, 55), rgb(243, 24, 166) , rgb(191, 23, 191));
    width: 9%;
    max-width: 135px;
    height: 35px;
    text-align: center;
    padding: 0 auto;
    padding-top: 8px;
    border-radius: 30px;
    margin-top: 20px;
    color: white;

}
.grad-2{
    /* color: rgb(180, 103, 103);          .....COLOR CHANGE....... */
      /* color: linear-gradient(to right, red , yellow); */
  /* font-size: 72px; */
  color: rgb(189, 41, 189);

}
hr{
    /* border: none; */
}

nav{
    display: flex;
    justify-content: space-around;
    background-color: #1A0B2E;
    border: 1px solid #452f61;
    
}
ul{ 
    margin-top: 25px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 40px;
}
a{
    text-decoration: none;
    color: #FFFFFF;         /*.....COLOR CHANGE.......*/

}
nav h2{
    color: #FFFFFF;
    c;
}
.first-section{
    background: url(assets/hero-bg.png);
     width: 100%;
    height: 760px;
    /* align-items: center; */
    /* padding: 0 auto; */
    /* margin: 0 auto; */

}
.first-section h1, p{
    color: #FFFFFF;
}
/* .first-section-img{
    
    /* position: relative; */


.first-section-img{
  position: relative;
  width: 100%;
  height: 350px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-circle{
  width: 340px;
  margin-left: 95px;
  margin-top: 200px;
    z-index: 1;

}

.img-mic{
  width: 10%;
  position: absolute;
  top: 150px;
  /* margin-right: 60px; */
  left: 48.5%;
}
.first-section{
     text-align: center;
     /* margin-top: ; */

}
.text{
    margin-top: 130px;
}
.text h1{
    font-size: 60px;
    margin-bottom: 20px;

}
.text p{
    font-size: 16px;
    /* margin-top: -10p; */
}
