
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.inter{
    font-family: Inter;
}
.grad{                                    /*.....NAV.......*/
    /* background-color: rgb(235, 115, 115);      .....COLOR CHANGE....... */
    background-image: linear-gradient(to right, rgb(243, 243, 55), rgb(243, 24, 166) , rgb(191, 23, 191));
    width: 9%;
    max-width: 135px;
    height: 35px;
    text-align: center;
    padding: 0 auto;
    padding-top: 8px;
    border-radius: 30px;
    margin-top: 20px;
    color: white;

}
.grad-2{
    /* color: rgb(180, 103, 103);          .....COLOR CHANGE....... */
      /* color: linear-gradient(to right, red , yellow); */
  /* font-size: 72px; */
  color: rgb(189, 41, 189);

}
hr{
    /* border: none; */
}

nav{
    display: flex;
    justify-content: space-around;
    background-color: #1A0B2E;
    border: 1px solid #452f61;
    
}
ul{ 
    margin-top: 25px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 40px;
}
a{
    text-decoration: none;
    color: #FFFFFF;         /*.....COLOR CHANGE.......*/

}
nav h2{
    color: #FFFFFF;
    c;
}
.first-section{
    background: url(assets/hero-bg.png);
     width: 100%;
    height: 760px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
.first-section  p{
    color: #ffffffa3;
}
.first-section h1{
    color: #ffffff;
}
/* .first-section-img{
    
    /* position: relative; */


.first-section-img{
  /* position: relative; */
  width: 100%;
  height: 350px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-circle{
  width: 340px;
  /* margin-left: 2%; */
  margin-top: 200px;
  position: relative;

    /* z-index: 1; */

}

.img-mic{
  width: 10%;
  position: absolute;
  top: 250px;
  left: 685px;
  z-index: 1;
}
.first-section{
     text-align: center;
     /* margin-top: ; */

}
.new{
   background-color: #00FF88;
   border-radius: 20px;
   width: 70px;
   height: 28px;
   text-align: center;
   padding: 0 auto;
    position: absolute;
    left: 850px;
    z-index: 2;
    top: 220px;
    font-size: 18px;
    font-weight: 600;
    padding-top: 8px;

}

.text{
    margin-top: 120px;

}
.text h1{
    font-size: 60px;
    margin-bottom: 18px;

}
.text p{
    font-size: 16px;
    margin-bottom: 25px;
    /* margin-top: -10p; */
}

.btn-1{
        background-image: linear-gradient(to right, rgb(243, 243, 55), rgb(243, 24, 166) , rgb(191, 23, 191));
        width: 208px;
        height: 40px;
        border-radius: 20px;
        color: #FFFFFF;
        display: flex;
        justify-content: center;
        gap: 10px;
        padding-top: 10px;
        font-weight: 500;
        border: none;

}
.btn-2{
    background-color: transparent;
    width: 147px;
    height: 40px;
    color: #00FF88;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 200;
    border: 2px solid #00FF88;
     display: flex;
     gap: 10px;
     justify-content: center;
     padding-top: 8px;

}
.btn-flex{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.btn-1:hover{
    width: 350px;
    transition: width 1s;
}
.btn-2:hover{
     width: 300px;
    transition: width 1s;
}
