
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.inter{
    font-family: Inter;
}
.grad{                                    /*.....NAV.......*/
    /* background-color: rgb(235, 115, 115);      .....COLOR CHANGE....... */
    background-image: linear-gradient(to right, rgb(243, 243, 55), rgb(243, 24, 166) , rgb(191, 23, 191));
    width: 9%;
    max-width: 135px;
    height: 40px;
    text-align: center;
    padding: 0 auto;
    /* padding-top: px; */
    border-radius: 30px;
    margin-top: 15px;

    color: white;

}
.grad-2{
    /* color: rgb(180, 103, 103);          .....COLOR CHANGE....... */
      /* color: linear-gradient(to right, red , yellow); */
  /* font-size: 72px; */
  color: rgb(189, 41, 189);

}
hr{
    /* border: none; */
}

nav{
    display: flex;
    justify-content: space-around;
    background-color: #1A0B2E;
    border: 1px solid #452f61;
    
}
nav img{
    padding-top: 16px;
}
.ham-manu{
    display: none;
}
ul{ margin-right: 100px;
    margin-top: 25px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 40px;
}
a{
    text-decoration: none;
    color: #FFFFFF;         /*.....COLOR CHANGE.......*/

}
nav h2{
    color: #FFFFFF;
    c;
}
.first-section{
    background: url(assets/hero-bg.png);
     width: 100%;
    height: 700px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* margin: 0 auto; */
    

}
/* *{
  margin: 0;
  padding: 0;
} */
 body{
    margin: 0;
 }
.first-section  p{
    color: #ffffffa3;
}
.first-section h1{
    color: #ffffff;
}
/* .first-section-img{
    
    /* position: relative; */


.first-section-img{
  /* position: relative; */
  width: 100%;
  height: 350px; 
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.img-circle{
  width: 340px;
  /* margin-left: 2%; */
  margin-top: 200px;
  position: relative;

    /* z-index: 1; */

}

.img-mic{
  width: 8%;
  position: absolute;
  top: 35%;
  /* top: 230px; */
  left: 46%;
  z-index: 1;
}
.first-section{
     text-align: center;
         /* border: 5px solid red; */

     /* margin-top: ; */

}
.new{
   background-color: #00FF88;
   border-radius: 20px;
   width: 70px;
   height: 28px;
   text-align: center;
   padding: 0 auto;
    position: absolute;
    left: 870px;
    z-index: 2;
    top: 220px;
    font-size: 18px;
    font-weight: 600;
    padding-top: 8px;

}

.text{
     margin-top: 120px;
    align-items: center;
    /* text-align: center; */
    /* border: 1px solid red; */

}
.text h1{
    font-size: 60px;
    margin-bottom: 18px;

}
.text p{
    font-size: 16px;
    margin-bottom: 25px;
    /* margin-top: -10p; */
}

.btn-1{
        background-image: linear-gradient(to right, rgb(243, 243, 55), rgb(243, 24, 166) , rgb(191, 23, 191));
        width: 208px;
        height: 40px;
        border-radius: 20px;
        color: #FFFFFF;
        display: flex;
        justify-content: center;
        gap: 10px;
        padding-top: 10px;
        font-weight: 500;
        border: none;

}
.btn-2{
    background-color: transparent;
    width: 147px;
    height: 40px;
    color: #00FF88;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 200;
    border: 2px solid #00FF88;
     display: flex;
     gap: 10px;
     justify-content: center;
     padding-top: 8px;

}
.btn-flex{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.btn-1:hover{
    width: 350px;
    transition: width 1s;
}
.btn-2:hover{
     width: 300px;
    transition: width 1s;
}

/* .....SECOUND SECTION..... */
    .secound-section{
        background-color: #1A0B2E;
        /* padding: 0 auto; */

    }
    .secound-section h1{
        color: #FFFFFF;
        font-size: 48px;
        padding-top: 50px;   
         margin: 0;
         font-weight: 600;


    }
    .secound-section p{
    color: #ffffff9c;
    font-size: 16px;
    line-height: 20px;
    }
 .secound-box{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 60%; */
    padding: 0px 290px;
    /* border: 2px solid red; */
    

    /* max-width: 1200px; */
 }
 .center-p{
    text-align: center;
    /* align-items: center; */
    width: 78%;
 }       
hr{
    width: 75%;
    /* background-color: red; */
    border: 0.2px solid rgba(128, 128, 128, 0.338);
    margin-top: 70px;
}
 .secound-box2{
    padding-top: 15px;
    display: flex;
    justify-content: space-around;
    margin: 0 100px ;
    padding-bottom: 100px;
    /* gap: 0px; */
 }
 .secound-box2 h1{
    color: #00FF88;
    font-size: 48px;
    font-weight: 800;

 }
 .secound-box2 p{
    color: #ffffffbc;
    font-size: 16px;
 }
 .box{
    text-align: center;
 }
 .section-three{
    background-color: #230E3D;
    color: #FFFFFF;
 }
 .section-three h1{
    margin: 0;
    padding: 0;
    padding-bottom: 40px;
    font-size: 48px;
    text-align: center;
    padding-top: 110px;

 }
 .section-three p{
    color: #ffffff91;
    font-size: 16px;
    line-height: 24px;
 }

 /* .....GRID AREA..... */

 .container>*{
    /* border: 1px solid red; */
    border-radius: 30px;
    background-color: #351165b9;
    /* padding: 100px 40px 107px 40px; */
    /* padding-right: ; */
 }

 .premium{
    grid-area: premium;
 }
.mobile{
    grid-area: mobile;
}
.global{
    grid-area: global;
}
.exclusive{
    grid-area: exclusive;
}
.rich{
    grid-area: rich;
}
.container{
    display: grid;
    gap: 25px;
    padding: 0 200px;
    grid-template-areas: 
         "premium mobile mobile"
         "premium global global"
         "exclusive exclusive rich";

    padding-bottom: 120px;    
}
.premium{
    padding: 107px 40px 107px 40px; 
}
.mobile{
    padding: 40px 40px 40px 40px; 
}
.global{
    padding: 40px 40px 40px 40px; 
}
.exclusive{
    padding: 40px 40px 40px 40px; 
}
.rich{
    padding: 45px 45px 40px 40px; 
}

.section-four{
    background-color: #1A0B2E;
    color: #FFFFFF;
    padding-bottom: 120px;
}
.section-four h1{
    margin: 0;
    padding: 0;
    padding-top: 120px;
    text-align: center;
}
.card{
    display: flex;
    justify-content: center;
    width: 75%;
    /* border: 1px solid red; */
    max-width: 1200px;
    gap: 30px;
    padding: 0 auto;
    margin: 0 auto;
    padding-top: 40px; 
    /* padding-bottom: px; */

}
.p2{
    padding-top: 20px;
}
.card-element{
     width: 30%;
    /* border: 2px solid red; */
    border-radius: 20px;
    background-color: #250D44;
    /* padding: 30px; */
}
iframe{
    width: 100%;
    /* border-radius: 20px; */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}
.card-element h3 p{
    /* padding-left: 30px; */
}
.card-element p{
    font-size: 16px;
    color: #ffffff81;
}
.card-element h3{
    font-size: 24px;
}
.time{
    /* color: #d45118; */
    /* border: 1px solid red */
}
span{
    color: #00FF88;
}
.info{
    padding: 30px;
}
.host{
    width:75%;
    margin: 0 auto;
    background-color: #250D44;
    border-radius: 25px;
    /* align-items: center; */
    /* text-align: center; */
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    /* -bottom: 120px; */
}
.host-img{
    padding: 40px;
}
.host-info{
    padding-top: 48px;
    padding-right: 40px;
    padding-bottom: 48px;
}
.host p{
    font-size: 16px;
    color: #ffffffb0;
}
.host h2{
    font-size: 32px;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}
.icon{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    padding-top: 10px;
    /* border: 2px solid red; */
    /* height: 40px; */
    
}
.icon-border{
    border: 1px solid #452f61;
    width: 40px;
     height: 40px; 
    /* align-items: center; */
    /* text-align: center; */
    /* padding: 9px; */
    /* padding-top: 15px; */
    /* padding-bottom: 15px; */
    /* padding: 10px; */
    border-radius: 100px;
    /* padding-bottom: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
    

}
footer{
    background: url(assets/footer-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: #FFFFFF;
     padding-bottom: 100px;
     padding-top: 100px;
        color: #ffffff90;


}
.footer-icon{
    display: flex;
    justify-content: center;
    gap: 50px;
    color: #ffffff90;
    padding-bottom: 32px;
}
.footer-logo{
     padding-bottom: 30px; 
    
}
    
/* ....RESPONSIVE.... */
@media screen and (max-width:576px){
    
        .nav-logo{
            /* width: 15%; */
            /* padding-right: 400px; */
            padding-left: 20px;

        }
        .nav-logo img{
            width: 137px;
        }

        ul{
            display: none;
        }
        nav{
            justify-content: space-between;
            gap: 100px;

        }
 
    .grad{
        display: none;
    }
    .ham-manu{
        display: flex;
        /* width: 2px; */
        padding-right: 30px;
        padding-bottom: 10px;
        /* height: 2px; */
    }
    .ham-manu img{
        width: 18px;
        height: 18px;
    }
    .first-section{
         height: 25em;
         background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
     .img-circle{
  width: 57%;
  /* width: 200px; */
  /* margin-left: 2%; */
   margin-top: 1px;
  
  /* position: relative; */
  padding-bottom: 0;

}

.img-mic{
  width: 15%;
  position: absolute;
  /* top: 230px; */
  /* left: 165px; */
  left: 43%;
  /* top: 180px; */
  top: 28%;

  z-index: 1;
}
.new{
   border-radius: 15px;
    width: 57px;
    height: 15px;
   text-align: center;
   padding: 0 auto;
    position: absolute;
    /* left: 240px; */
    left: 68%;
    z-index: 2;
    top: 12%;
    /* top: 140px; */
    font-size: 18px;
    font-weight: 500;
    /* padding-top: 8px; */
    padding-bottom: 12px;
}
.text{
     /* margin-top: 120px; */
    align-items: center;
    text-align: center;
    padding: 0;
    margin: 0 10px;
}
.text h1{
    font-size: 40px;
    margin: 0;
    padding: 0;
    padding-top: -90px;

}
.text p{
    font-size: 16px;
    margin: 0;
    padding: 0;
    /* padding-bottom: 80px; */
}
.circle2{
    position: relative;
    /* margin: 20px; */
    /* margin-bottom: 10px; */

}
.btn-1{
    width: 60%;
    margin-top: 30px;
    margin-bottom: 20px;
}
.btn-2{
    width: 42%;
    margin-top: 30px;
    margin-bottom: 20px;
}
.btn-flex{
    gap: 12px;
}
.secound-section h1{
    font-size: 32px;
}
.secound-section p{
    font-size: 16px;
    line-height: 20px;
}
.secound-box{
    text-align: center;
    padding: 0;
    /* height: 3%; */
    width: 90%;
    
    /* margin: 0; */
    
}
.p2{
    padding-top: 10px;
    padding-left: 30px;
}
.center-p{
    width: 90%;
    padding-left: 30px;
}
hr{
    /* margin-bottom: 350PX; */
    margin-top: auto;
}
.secound-box2{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 30px;
        row-gap: 30px;
        align-items: center;
        text-align: center;
        margin: 0 auto;
        /* padding-right: 200px; */
        /* width: 200px; */
        /* border: 2p solid red; */


        /* height: 200px; */
        /* padding-left: 0px; */

        
}
.box{
   /* text-align: center; */
   
}
.box h1{
    padding: 0;
    margin: 0;
    font-size: 40px;
}
.box p{
    padding: 0;
    margin: 0;
    font-size: 16px;

}
.section-three h1{
    padding: 0;
    margin: 0;
    padding-top: 40px;
    font-size: 32px;
}
.container{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
.premium{
    width: 90%;
    /* margin: 6px; */
        margin-left: 6px;
    margin-top: 10px;
    /* height: 290px; */
    padding: 8px;
    padding-top: 40px;
    padding-left: 18px;

}
.premium h3{
    margin: 0;
    padding: 0;
    padding-top: 6px;
}

.mobile{
    width: 90%;
     margin-left: 6px;
    /* margin: 6px; */
    /* margin-top: 10px; */
    /* height: 290px; */
    padding: 8px;
    padding-top: 40px;
    padding-left: 18px;

}
.mobile h3{
    margin: 0;
    padding: 0;
    padding-top: 6px;
}



.global{
    width: 90%;
    /* margin: 6px; */
        margin-left: 6px;
    /* margin-top: 10px; */
    /* height: 290px; */
    padding: 8px;
    padding-top: 40px;
    padding-left: 18px;

}
.global h3{
    margin: 0;
    padding: 0;
    padding-top: 6px;
}



.exclusive{
    width: 90%;
    /* margin: 6px; */
    margin-left: 6px;
    /* margin-top: 10px; */
    /* height: 290px; */
    padding: 8px;
    padding-top: 40px;
    padding-left: 18px;

}
.exclusive h3{
    margin: 0;
    padding: 0;
    padding-top: 6px;
}
.rich{
    width: 90%;
    /* margin: 6px; */
    margin-left: 6px;
    /* margin-top: 10px; */
    /* height: 290px; */
    padding: 8px;
    padding-top: 40px;
    padding-left: 18px;
    margin-bottom: 32px;

}
.rich h3{
    margin: 0;
    padding: 0;
    padding-top: 6px;
}



}