
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.inter{
    font-family: Inter;
}
.grad{                                    /*.....NAV.......*/
    /* background-color: rgb(235, 115, 115);      .....COLOR CHANGE....... */
    background-image: linear-gradient(to right, rgb(243, 243, 55), rgb(243, 24, 166) , rgb(191, 23, 191));
    width: 9%;
    max-width: 135px;
    height: 35px;
    text-align: center;
    padding: 0 auto;
    padding-top: 8px;
    border-radius: 30px;
    margin-top: 20px;
    color: white;

}
.grad-2{
    /* color: rgb(180, 103, 103);          .....COLOR CHANGE....... */
      /* color: linear-gradient(to right, red , yellow); */
  /* font-size: 72px; */
  color: rgb(189, 41, 189);

}
hr{
    /* border: none; */
}

nav{
    display: flex;
    justify-content: space-around;
    background-color: #1A0B2E;
    border: 1px solid #452f61;
    
}
ul{ 
    margin-top: 25px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 40px;
}
a{
    text-decoration: none;
    color: #FFFFFF;         /*.....COLOR CHANGE.......*/

}
nav h2{
    color: #FFFFFF;
    c;
}
.first-section{
    background: url(assets/hero-bg.png);
     width: 100%;
    height: 700px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* margin: 0 auto; */
    

}
/* *{
  margin: 0;
  padding: 0;
} */
 body{
    margin: 0;
 }
.first-section  p{
    color: #ffffffa3;
}
.first-section h1{
    color: #ffffff;
}
/* .first-section-img{
    
    /* position: relative; */


.first-section-img{
  /* position: relative; */
  width: 100%;
  height: 350px; 
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.img-circle{
  width: 340px;
  /* margin-left: 2%; */
  margin-top: 200px;
  position: relative;

    /* z-index: 1; */

}

.img-mic{
  width: 10%;
  position: absolute;
  top: 230px;
  left: 685px;
  z-index: 1;
}
.first-section{
     text-align: center;
         /* border: 5px solid red; */

     /* margin-top: ; */

}
.new{
   background-color: #00FF88;
   border-radius: 20px;
   width: 70px;
   height: 28px;
   text-align: center;
   padding: 0 auto;
    position: absolute;
    left: 870px;
    z-index: 2;
    top: 220px;
    font-size: 18px;
    font-weight: 600;
    padding-top: 8px;

}

.text{
     margin-top: 120px;
    align-items: center;
    /* text-align: center; */
    /* border: 1px solid red; */

}
.text h1{
    font-size: 60px;
    margin-bottom: 18px;

}
.text p{
    font-size: 16px;
    margin-bottom: 25px;
    /* margin-top: -10p; */
}

.btn-1{
        background-image: linear-gradient(to right, rgb(243, 243, 55), rgb(243, 24, 166) , rgb(191, 23, 191));
        width: 208px;
        height: 40px;
        border-radius: 20px;
        color: #FFFFFF;
        display: flex;
        justify-content: center;
        gap: 10px;
        padding-top: 10px;
        font-weight: 500;
        border: none;

}
.btn-2{
    background-color: transparent;
    width: 147px;
    height: 40px;
    color: #00FF88;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 200;
    border: 2px solid #00FF88;
     display: flex;
     gap: 10px;
     justify-content: center;
     padding-top: 8px;

}
.btn-flex{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.btn-1:hover{
    width: 350px;
    transition: width 1s;
}
.btn-2:hover{
     width: 300px;
    transition: width 1s;
}

/* .....SECOUND SECTION..... */
    .secound-section{
        background-color: #1A0B2E;
        /* padding: 0 auto; */

    }
    .secound-section h1{
        color: #FFFFFF;
        font-size: 48px;
        padding-top: 50px;   
         margin: 0;
         font-weight: 600;


    }
    .secound-section p{
    color: #ffffff9c;
    font-size: 16px;
    line-height: 20px;
    }
 .secound-box{
    text-align: center;
    width: 75%;
    padding: 0 190px;
    

    /* max-width: 1200px; */
 }       
hr{
    width: 75%;
    /* background-color: red; */
    border: 0.2px solid rgba(128, 128, 128, 0.338);
    margin-top: 70px;
}
 .secound-box2{
    padding-top: 15px;
    display: flex;
    justify-content: space-around;
    margin: 0 100px ;
    padding-bottom: 100px;
    /* gap: 0px; */
 }
 .secound-box2 h1{
    color: #00FF88;
    font-size: 48px;
    font-weight: 800;

 }
 .secound-box2 p{
    color: #ffffffbc;
    font-size: 16px;
 }
 .box{
    text-align: center;
 }
 .section-three{
    background-color: #230E3D;
    color: #FFFFFF;
 }
 .section-three h1{
    margin: 0;
    padding: 0;
    padding-bottom: 40px;
    font-size: 48px;
    text-align: center;
    padding-top: 110px;
 }
 .section-three p{
    color: #ffffff91;
    font-size: 16px;
    line-height: 24px;
 }

 /* .....GRID AREA..... */

 .container>*{
    /* border: 1px solid red; */
    border-radius: 30px;
    background-color: #351165b9;
    /* padding: 100px 40px 107px 40px; */
    /* padding-right: ; */
 }

 .premium{
    grid-area: premium;
 }
.mobile{
    grid-area: mobile;
}
.global{
    grid-area: global;
}
.exclusive{
    grid-area: exclusive;
}
.rich{
    grid-area: rich;
}
.container{
    display: grid;
    gap: 25px;
    padding: 0 200px;
    grid-template-areas: 
         "premium mobile mobile"
         "premium global global"
         "exclusive exclusive rich";

    padding-bottom: 120px;    
}
.premium{
    padding: 107px 40px 107px 40px; 
}
.mobile{
    padding: 40px 40px 40px 40px; 
}
.global{
    padding: 40px 40px 40px 40px; 
}
.exclusive{
    padding: 40px 40px 40px 40px; 
}
.rich{
    padding: 45px 45px 40px 40px; 
}

.section-four{
    background-color: #1A0B2E;
    color: #FFFFFF;
}
.section-four h1{
    margin: 0;
    padding: 0;
}
